-e git+https://github.com/GeoNode/geonode-mapstore-client.git@django_upgrade#egg=django_geonode_mapstore_client
-e git+https://github.com/GeoNode/geonode-importer.git@django_upgrade#egg=geonode-importer
-e git+https://github.com/GeoNode/geonode.git@django_upgrade#egg=GeoNode
